.footer
	.foot-nav
		.container
			.inline-layout.col-2
				.left-side
					.logo
						a(href="#")
							.image-holder
								img(src="img/icons/logo.svg", alt="")
							h2 ACC-UA.com
							p
								|Алмазная резка бетона и сверление отверстий
								br
								|в Киеве и области. Демонтаж любой сложности
					p.adress Киев, ул. Свердлова 17, оф 7
				.right-side
					.social-list
						ul.list-inline
							li
								a(href="#")
									.image-holder
										img(src="img/icons/facebook.svg", alt="")
							li
								a(href="#")
									.image-holder
										img(src="img/icons/insta.svg", alt="")
							li
								a(href="#")
									.image-holder
										img(src="img/icons/g-plus.svg", alt="")
							li
								a(href="#")
									.image-holder
										img(src="img/icons/google.svg", alt="")
							li
								a(href="#")
									.image-holder
										img(src="img/icons/vk-c.svg", alt="")
						p.email synserg78@gmail.com

				
	.rights
		.container
			a(href="#") Политика конфиденциальности
			p Copiright2017
