.top-line
	.container.clearfix
		.logo
			a(href="#")
				.image-holder
					img(src="img/icons/logo.svg", alt="")
				h2 ACC-UA.com
				p
					|Алмазная резка бетона и сверление отверстий
					br
					|в Киеве и области. Демонтаж любой сложности
		.navigation.inline-layout
			ul.numbers
				li
					a(href="#") +38/097/818 00 02
				li
					a(href="#") +38/097/818 00 02
				li
					a(href="#") +38/097/818 00 02
			a(href="#").order-btn Заказать звонок
