extends layout

block vars
	- var title = "ACC"
	- var navigation = "index"

block content
	.main-display
		.container
			.inline-layout
				.image-holder.first-img
					img(src="img/content/work-2.jpg", alt="")
				.text-holder
					h3 
						|Алмазное
						br
						|сверление
					h4 без шума и пыли
					.btn-holder
						a(href="#").button вызвать мастера
				.image-holder.sec-img
					img(src="img/content/work-1.jpg", alt="")
	.estimate.white
		.container
			h4
				|Получите расчёт стоимости по телефону в течении 2-ух минут!
				br
				|Мы работаем без выходных!
			.image-holder
				img(src="img/icons/011-worker.svg", alt="")
			.btn-holder
				a(href="#").button перезвоните мне
	.motivation
		.container
			h3
				|Почему выбирают нашу
				br
				|компанию?
			ul.motivations-list.inline-layout.col-2
				li
					.image-holder
						img(src="img/icons/motivation-icon-1.svg", alt="")
					.text-holder
						h5 Идеальное качаство услуг
						p
							|За долгий срок присутствия на строительном рынке, мы до идеала отточили качество предоставления довольно специфических услуг. В результате выполнения нами работ, клиенты могут спасть спокойно, у них не пойдут трещины по стенам, в результате чего, необходимо будет проделывать капитальный ремонт всего строения во избежания завала. 
				li
					.image-holder
						img(src="img/icons/motivation-icon-2.svg", alt="")
					.text-holder
						h5 Достижения нашей компании
						p
							|За срок существования компании на рыке (15 лет), накоплен огромный опыт в сфере демонтажных работ. Компания Атлант Строй Сервис относится к одним из не многих компаний, которая может похвастаться более чем тысячью под ключ выполненных проектов в сфере строительных демонтажных работ, к которым относятся: алмазное сверление отверстии, резка бетона.  
				li
					.image-holder
						img(src="img/icons/motivation-icon-3.svg", alt="")
					.text-holder
						h5 Актуальные и лояльные цены
						p
							|Цены представленные на нашем сайте являются реальными. Мы максимально прозрачны для заказчика. При сотрудничестве с нами, в конечном итоге заказчик не получит увеличение цены за крепежи или прочие комплектующие необходимые для выполнения тех или иных демонтажных работ. 
				li
					.image-holder
						img(src="img/icons/motivation-icon-4.svg", alt="")
					.text-holder
						h5 Для нас важен каждый клиент
						p
							|Мы готовы предоставить любую из наших услуг в рамках отдельного заказа или взять на себя решение масштабных задач с привлечением опытных специалистов в своей области. Для нас важен каждый клиент, и мы не ставим никаких разграничений между крупными строительными фирмами и частными заказчиками.
				li
					.image-holder
						img(src="img/icons/motivation-icon-5.svg", alt="")
					.text-holder
						h5 Оценка стоимости работ по чертежам
						p
							|Профессионалы нашей компании, проводят оценку выполнения работ по предоставленным заказчиком чертежам. Вам не нужно тратить время на проведение встречи и выезда на объект, просто перешлите нам чертежи и в течение дня, мы предоставим Вам цены на проведение нами работ.
				li
					.image-holder
						img(src="img/icons/motivation-icon-6.svg", alt="")
					.text-holder
						h5 Профессиональный инструмент
						p
							|Мы выполняем на высоком уровне наши работы в максимально кратчайшие сроки, используя только профессиональное оборудование,  что благотворительно сказывается на кошельке заказчика. К примеру, при демонтаже бетонных конструкций (расширении или резки дверного проема), наши рабочие не выполняют подобные задачи про помощи кувалды на протяжении месяца, а выполняют данные работы на протяжении считанных часов профессиональным инструментом.
			.btn-holder
				a(href="#").button заказать звонок


	.estimate.white.type-2
		.container
			h4
				|Забронируйте выезд мастера сегодня
				br
				|и получите скидку 10%!
			.image-holder
				img(src="img/icons/003-money.svg", alt="")
			.btn-holder
				a(href="#").button вызвать мастера

	.how-it-works
		.container
			h3
				|Как это работает?
			ul.inline-layout.col-5.how-list
				li
					.image-holder.phone-img
						img(src="img/icons/how-1.svg", alt="")
					.number
						span 1
					.text-holder
						h5 СВЯЗЬ
						p
							|The State Department announced new policies Tuesday stipulating that U.S. drones can only be exported through government programs and that the receiving country needs to agree to certain conditions about what the drone will be used for.
				li
					.image-holder
						img(src="img/icons/how-2.svg", alt="")
					.number
						span 2
					.text-holder
						h5 ЗАМЕРЫ
						p
							|The State Department announced new policies Tuesday stipulating that U.S. drones can only be exported through government programs and that the receiving country needs to agree to certain conditions about what the drone will be used for.
				li
					.image-holder
						img(src="img/icons/how-3.svg", alt="")
					.number
						span 3
					.text-holder
						h5 СМЕТА
						p
							|The State Department announced new policies Tuesday stipulating that U.S. drones can only be exported through government programs and that the receiving country needs to agree to certain conditions about what the drone will be used for.
				li
					.image-holder
						img(src="img/icons/how-4.svg", alt="")
					.number
						span 4
					.text-holder
						h5 РАБОТА
						p
							|The State Department announced new policies Tuesday stipulating that U.S. drones can only be exported through government programs and that the receiving country needs to agree to certain conditions about what the drone will be used for.
				li
					.image-holder
						img(src="img/icons/how-5.svg", alt="")
					.number
						span 5
					.text-holder
						h5 ОПЛАТА
						p
							|The State Department announced new policies Tuesday stipulating that U.S. drones can only be exported through government programs and that the receiving country needs to agree to certain conditions about what the drone will be used for.
			.btn-holder
				a(href="#").button заказать звонок
	.estimate.white.type-3
		.container
			h4
				|Стоимость алмазной резки бетона - от 25 грн/м2
			.image-holder
				img(src="img/icons/032-contract-copy.svg", alt="")
			.btn-holder
				a(href="#").button скачать прайс

	.advanrages
		.container
			h3
				|Преимущества нашей
				br
				| компании
			ul.inline-layout.col-5.how-list
				li
					.image-holder.phone-img
						img(src="img/icons/advan-1.svg", alt="")
					.text-holder
						h5 Большой опыт
						p
							|15-ти летний опыт предоставления услуг в сфере демонтажных работ
				li
					.image-holder
						img(src="img/icons/advan-2.svg", alt="")
					.text-holder
						h5 Работают профессионалы
						p
							|Многолетний опыт помог собрать команду профессионалов в данной отрасли.
				li
					.image-holder
						img(src="img/icons/advan-3.svg", alt="")
					.text-holder
						h5 Оценка по чертежам
						p
							|Проводим оценку выполнения работ, по предоставленным чертежам
				li
					.image-holder
						img(src="img/icons/advan-4.svg", alt="")
					.text-holder
						h5 Минимальные сроки
						p
							|Благодаря большому штату сотрудников, Ваш заказ может быть выполнен в течении суток
				li
					.image-holder
						img(src="img/icons/advan-5.svg", alt="")
					.text-holder
						h5 ДОСТУПНЫЕ ЦЕНЫ
						p
							|Наша компания предоставляет минимальные цены на проведение демонтажных работ
			.btn-holder
				a(href="#").button вызов мастера

	section.comand-slider
		.container
			h3
				|Наши работы
			.owl-carousel.owl-2.owl-theme
				.item
					.image-holder
						img.fake-img(src='img/content/s1.png', alt='img/content/s1.png')
						.img(style='background-image: url("img/content/s1.png")')
					.text-holder
						a(href="#")
							img(src="img/icons/text-icon.svg", alt="")
							span описание работы
							
				.item
					.image-holder
						img.fake-img(src='img/content/s1.png', alt='img/content/s1.png')
						.img(style='background-image: url("img/content/s1.png")')
					.text-holder
						a(href="#")
							img(src="img/icons/text-icon.svg", alt="")
							span описание работыты
							

				.item
					.image-holder
						img.fake-img(src='img/content/s1.png', alt='img/content/s1.png')
						.img(style='background-image: url("img/content/s1.png")')
					.text-holder
						a(href="#")
							img(src="img/icons/text-icon.svg", alt="")
							span описание работы
							
				.item
					.image-holder
						img.fake-img(src='img/content/s1.png', alt='img/content/s1.png')
						.img(style='background-image: url("img/content/s1.png")')
					.text-holder
						a(href="#")
							img(src="img/icons/text-icon.svg", alt="")
							span описание работы
							
				.item
					.image-holder
						img.fake-img(src='img/content/s1.png', alt='img/content/s1.png')
						.img(style='background-image: url("img/content/s1.png")')
					.text-holder
						a(href="#")
							img(src="img/icons/text-icon.svg", alt="")
							span описание работы
	.advanrages.work-with
		.container
			h3
				|С кем мы работаем
			ul.inline-layout.col-3.work-with
				li
					.wr-block
						.image-holder
							img.fake-img(src='img/content/wr-1.jpg', alt='img/content/wr-1.jpg')
							.img(style='background-image: url("img/content/wr-1.jpg")')
						.text-holder
							p
								|С владельцами квартир и домов,
								br
								|которые хотят снести небольшую перегородку или
								br
								|сделать полную перепланировку своего жилища
				li
					.wr-block
						.image-holder
							img.fake-img(src='img/content/wr-2.jpg', alt='img/content/wr-2.jpg')
							.img(style='background-image: url("img/content/wr-2.jpg")')
						.text-holder
							p
								|Сотрудничаем с прорабами
								br
								|и строительными компаниями
				li
					.wr-block
						.image-holder
							img.fake-img(src='img/content/wr-3.jpg', alt='img/content/wr-3.jpg')
							.img(style='background-image: url("img/content/wr-3.jpg")')
						.text-holder
							p
								|Работаем в качестве генподрядчиков на
								br
								|самых тяжелых объектах с очень высокими техническими 
								br
								|требованиями
	.estimate.white.type-3
		.container
			h4
				|Хотите получить комиссионные за рекомендацию
				br
				|нашей компании?
			.image-holder
				img(src="img/icons/motivation-icon-3.svg", alt="")
			.btn-holder
				a(href="#").button хочу заработать!
			h4
				|Или просто расскажите о нас друзьям ;)
			ul.social-list.list-inline
				li
					a(href="#")
						.image-holder
							img(src="img/icons/facebook.svg", alt="")
				li
					a(href="#")
						.image-holder
							img(src="img/icons/insta.svg", alt="")
				li
					a(href="#")
						.image-holder
							img(src="img/icons/g-plus.svg", alt="")
				li
					a(href="#")
						.image-holder
							img(src="img/icons/google.svg", alt="")
				li
					a(href="#")
						.image-holder
							img(src="img/icons/vk-c.svg", alt="")
	.equipment
		.container
			h3 Оборудование которое мы используем
			.inline-layout.col-2
				.image-wrap
					.image-holder
						img(src="img/content/video.jpg", alt="")
				.text-holder
					p
						|Резка ручными резчиками. При резке проема небольшого размера или при работе на ограниченной площади, где эксплуатация стенорезных машин затруднена, ручные резчики становятся лучшим инструментом для алмазной резки. Мобильные, компактные и удобные ручные резчики дают возможность выполнять алмазную резку вплотную к полу или потолку, а также под любым углом.
					p
						|Резка стенорезной машиной. Это высокопроизводительное оборудование позволяет выполнять резку проемов в бетоне, железобетоне и кирпиче с получением аккуратного и чистого реза.
					p
						|Резка алмазным канатом. Канатные машины незаменимы при демонтаже зданий, разборке массивных строительных конструкций и при выполнении специальных видов работ. Основным преимуществом этого оборудования является практически неограниченная глубина реза.

	.price
		.container
			h3 Цены на алмазную резку
			.prices
				ul.first-list
					li
						span Диаметр
					li
						span 60 мм
					li
						span 72 мм
					li
						span 82 мм
					li
						span 102 мм
					li
						span 112 мм
					li
						span 122 мм
					li
						span 132 мм
					li
						span 152 мм
					li
						span 160 мм
					li
						span 180 мм
					li
						span 202 мм
					li
						span 250 мм
					li
						span 300 мм
					li
						span 350 мм
				.scroll-holder
					.scroll-inner.inline-layout
						ul
							li
								span КИРПИЧ
							li
								span 4,50 ₴
							li
								span 5,00 ₴
							li
								span 5,50 ₴
							li
								span 6,00 ₴
							li
								span 6,50 ₴
							li
								span 7,00 ₴
							li
								span 8,00 ₴
							li
								span 9,00 ₴
							li
								span 9,00 ₴
							li
								span 9,00 ₴
							li
								span 10,00 ₴
							li
								span 12,00 ₴
							li
								span 16,00 ₴
							li
								span 18,00 ₴
						ul
							li
								span БЕТОН
							li
								span 4,50 ₴
							li
								span 5,00 ₴
							li
								span 5,50 ₴
							li
								span 6,00 ₴
							li
								span 6,50 ₴
							li
								span 7,00 ₴
							li
								span 8,00 ₴
							li
								span 9,00 ₴
							li
								span 9,00 ₴
							li
								span 9,00 ₴
							li
								span 10,00 ₴
							li
								span 12,00 ₴
							li
								span 16,00 ₴
							li
								span 18,00 ₴
						ul
							li
								span
									|ЖЕЛЕЗОБЕТОН
									br
									|МОНОЛИТ
							li
								span 4,50 ₴
							li
								span 5,00 ₴
							li
								span 5,50 ₴
							li
								span 6,00 ₴
							li
								span 6,50 ₴
							li
								span 7,00 ₴
							li
								span 8,00 ₴
							li
								span 9,00 ₴
							li
								span 9,00 ₴
							li
								span 9,00 ₴
							li
								span 10,00 ₴
							li
								span 12,00 ₴
							li
								span 16,00 ₴
							li
								span 18,00 ₴

			.btn-holder
				a(href="#").button вызвать мастера


	section.persons-slider
		.container
			h3
				|Отзывы о нашей компании
			.slider-holder
				.owl-carousel.owl-3.owl-theme
					.item
						.text-holder
							p
								|Odio montes tincidunt et porta sed nunc, in magna aenean, porta hac magna scelerisque porta in. Pid nisi augue? Dictumst, placerat purus scelerisque, tincidunt, massa pulvinar pulvinar sit? A. Lundium ut, pulvinar ut diam ac auctor ac! Risus pulvinar ut, lundium sed?
						.image-wrap
							.image-holder
								img.fake-img(src='img/content/s1.png', alt='img/content/s1.png')
								.img(style='background-image: url("img/content/s1.png")')
						.name
							h5 Иванов Иван
							h6 ПРОРАБ
								
					.item
						.text-holder
							p
								|Odio montes tincidunt et porta sed nunc, in magna aenean, porta hac magna scelerisque porta in. Pid nisi augue? Dictumst, placerat purus scelerisque, tincidunt, massa pulvinar pulvinar sit? A. Lundium ut, pulvinar ut diam ac auctor ac! Risus pulvinar ut, lundium sed?
						.image-wrap
							.image-holder
								img.fake-img(src='img/content/s1.png', alt='img/content/s1.png')
								.img(style='background-image: url("img/content/s1.png")')
						.name
							h5 Иванов Иван
							h6 ПРОРАБ
								

					.item
						.text-holder
							p
								|Odio montes tincidunt et porta sed nunc, in magna aenean, porta hac magna scelerisque porta in. Pid nisi augue? Dictumst, placerat purus scelerisque, tincidunt, massa pulvinar pulvinar sit? A. Lundium ut, pulvinar ut diam ac auctor ac! Risus pulvinar ut, lundium sed?
						.image-wrap
							.image-holder
								img.fake-img(src='img/content/s1.png', alt='img/content/s1.png')
								.img(style='background-image: url("img/content/s1.png")')
						.name
							h5 Иванов Иван
							h6 ПРОРАБ
								
					.item
						.text-holder
							p
								|Odio montes tincidunt et porta sed nunc, in magna aenean, porta hac magna scelerisque porta in. Pid nisi augue? Dictumst, placerat purus scelerisque, tincidunt, massa pulvinar pulvinar sit? A. Lundium ut, pulvinar ut diam ac auctor ac! Risus pulvinar ut, lundium sed?
						.image-wrap
							.image-holder
								img.fake-img(src='img/content/s1.png', alt='img/content/s1.png')
								.img(style='background-image: url("img/content/s1.png")')
						.name
							h5 Иванов Иван
							h6 ПРОРАБ

	.contact-us.white
		.container
			h3
				span Обратная связь
			.form-holder
				form(action="")
					.inline-layout.col-2
						.inputs
							input(type="text", placeholder="Введите ваше имя")
							input(type="text", placeholder="Введите номер телефона")
							input(type="text", placeholder="Введите ваше e-mail")
						.inputs
							textarea#ere(placeholder="Введите ваше сообщение")
					.btn-holder
						button.button отправить

	.call-us
		.container
			.inline-layout.col-2
				.have-question
					p
						.image-holder
							img(src="img/icons/arrow-right.svg", alt="")
						|Остались вопросы? Звоните!
				.phone-number
					a(href="tel:+38 /097/ 555 55 55") +38 /097/ 555 55 55













